
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}


header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}


section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #007acc;
}


#about ul {
  list-style-type: square;
  padding-left: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th {
  background-color: #007acc;
  color: white;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-top: 10px;
  color: black;
  text-align: left;

}

form input, form textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #110a0a;
}

form button {
  width: 100px;
  margin-top: 15px;
  padding: 10px;
  background-color: #007acc;
  color:white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: #333;
  color: white;
}
iframe {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
